0. Importe as bibliotecas necessárias

In [1]:
import pandas as pd
import numpy as np

1. Importe os dados sobre os penguins, que se encontra no link abaixo.

https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv

In [2]:
p = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv')
display(p)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

2. Mude o nome de todas as colunas para o inglês

In [3]:
p.columns = ['especie', 'ilha', 'comprimento_bico_mm', 'profundidade_bico_mm', 'comprimento_nadadeira_mm', 'massa_corporal_g', 'sexo']
display(p.head())

,especie,ilha,comprimento_bico_mm,profundidade_bico_mm,comprimento_nadadeira_mm,massa_corporal_g,sexo
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

3. Mude os elementos da coluna `sex` ("MALE" e "FEMALE") para português ("MASCULINO" e "FEMININO")

In [4]:
p['sexo'] = p['sexo'].replace(['MALE','FEMALE'], ['MASCULINO','FEMININO'])
display(p['sexo'].head())

0    MASCULINO
1     FEMININO
2     FEMININO
3          NaN
4     FEMININO
Name: sexo, dtype: object

4. Crie uma coluna com o quadrado do peso chamada `quadpeso`

In [5]:
p['quadpeso'] = p['massa_corporal_g']**2
display(p.head())

,especie,ilha,comprimento_bico_mm,profundidade_bico_mm,comprimento_nadadeira_mm,massa_corporal_g,sexo,quadpeso
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MASCULINO,14062500.0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMININO,14440000.0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMININO,10562500.0
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMININO,11902500.0

5. Crie uma coluna chamada `acima_da_media`, que contenha valores booleanos, `True` caso o pinguin esteja com o peso acima da média e `False` caso o pinguin esteja com o peso na média ou abaixo da média.

In [6]:
media = p['massa_corporal_g'].mean()
p['acima_media'] = p['massa_corporal_g'] > media
display(p.head())

,especie,ilha,comprimento_bico_mm,profundidade_bico_mm,comprimento_nadadeira_mm,massa_corporal_g,sexo,quadpeso,acima_media
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MASCULINO,14062500.0,False
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMININO,14440000.0,False
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMININO,10562500.0,False
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,NaN,False
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMININO,11902500.0,False

6. Calcule quantos penguins, por espécie, estão com o peso acima da **média**

In [7]:
print(p['acima_media'].sum())

149

7. Calcule a média e o desvio-padrão dos pinguins, por sexo e por ilha. Depois, jogue fora as linhas que são NaN

In [8]:
p.groupby(['sexo','ilha'])['massa_corporal_g'].agg([np.mean,np.std])

                            mean         std
sexo      ilha
FEMININO  Biscoe     4319.375000  659.748885
          Dream      3446.311475  269.522574
          Torgersen  3395.833333  259.144356
MASCULINO Biscoe     5104.518072  714.197748
          Dream      3987.096774  349.523737
          Torgersen  4034.782609  372.471714

8. Encontre os pinguins que estão acima de dois desvio-padrão do peso médio.

obs: você precisará filtrar os pinguins que estejam acima de `2 * desvio_padrão + peso_médio`

In [9]:
desvio_padrao = p['massa_corporal_g'].std()
peso_medio = p['massa_corporal_g'].mean()

p[p['massa_corporal_g'] > 2*desvio_padrao + peso_medio]

,especie,ilha,comprimento_bico_mm,profundidade_bico_mm,comprimento_nadadeira_mm,massa_corporal_g,sexo,quadpeso,acima_media
233,Gentoo,Biscoe,48.4,14.6,213.0,5850.0,MASCULINO,34222500.0,True
235,Gentoo,Biscoe,49.3,15.7,217.0,5850.0,MASCULINO,34222500.0,True
237,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,MASCULINO,39690000.0,True
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,MASCULINO,36602500.0,True
297,Gentoo,Biscoe,51.1,16.3,220.0,6000.0,MASCULINO,36000000.0,True
299,Gentoo,Biscoe,45.2,16.4,223.0,5950.0,MASCULINO,35402500.0,True
331,Gentoo,Biscoe,49.8,15.9,229.0,5950.0,MASCULINO,35402500.0,True
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,MASCULINO,34222500.0,True
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,MASCULINO,36000000.0,True

9. Para cada grupo de ilha e espécie, encontre o tamanho de bico mediano e a quantidade de penguins

In [10]:
p.groupby(['ilha', 'especie'])['comprimento_bico_mm'].agg([np.median, len])

                     median  len
ilha      especie
Biscoe    Adelie      38.70   44
          Gentoo      47.30  124
Dream     Adelie      38.55   56
          Chinstrap   49.55   68
Torgersen Adelie      38.90   52

10. Importe os CSVs abaixo para variáveis:

`flights.csv`, `airports.csv`, `planes.csv` e `airlines`

In [11]:
flights = pd.read_csv('flights.csv')
airports = pd.read_csv('airports.csv')
planes = pd.read_csv('planes.csv')
airlines = pd.read_csv('airlines.csv')

11. Faça um `left_join` de flights e planes. Depois, faça a média de atraso (`arr_delay`) por `manufacturer`. Tente arranjar os dados para descobrirmos quais são os que mais atrasam *na média*

In [12]:
left_join = pd.merge(flights, planes, how = "left")
print(left_join.groupby('manufacturer')['arr_delay'].mean())

manufacturer
AIRBUS               0.123563
AIRBUS INDUSTRIE    20.750000
BOEING               1.531208
BOMBARDIER INC      13.584352
EMBRAER              6.169118
Name: arr_delay, dtype: float64

12. Com os dados juntados anteriormente, junte também o dataframe de `airlines`, de acordo com as colunas em comum. Depois, descubra a quantidade de linhas por `origin` e `airlines`

In [15]:
left_join_airlines = pd.merge(left_join, airlines, on = 'carrier', how = 'left')
print(left_join_airlines.groupby(['origin', 'name'])['flight'].count())

origin  name
EWR     Alaska Airlines Inc.             714
        American Airlines Inc.          3487
        Delta Air Lines Inc.            4342
        Endeavor Air Inc.               1268
        Envoy Air                       2276
        ExpressJet Airlines Inc.       43939
        JetBlue Airways                 6557
        SkyWest Airlines Inc.              6
        Southwest Airlines Co.          6188
        US Airways Inc.                 4405
        United Air Lines Inc.          46087
        Virgin America                  1566
JFK     American Airlines Inc.         13783
        Delta Air Lines Inc.           20701
        Endeavor Air Inc.              14651
        Envoy Air                       7193
        ExpressJet Airlines Inc.        1408
        Hawaiian Airlines Inc.           342
        JetBlue Airways                42076
        US Airways Inc.                 2995
        United Air Lines Inc.           4534
        Virgin America                  3596
LGA     AirTran Airways Corporation     3260
        American Airlines Inc.         15459
        Delta Air Lines Inc.           23067
        Endeavor Air Inc.               2541
        Envoy Air                      16928
        ExpressJet Airlines Inc.        8826
        Frontier Airlines Inc.           685
        JetBlue Airways                 6002
        Mesa Airlines Inc.               601
        SkyWest Airlines Inc.             26
        Southwest Airlines Co.          6087
        US Airways Inc.                13136
        United Air Lines Inc.           8044
Name: flight, dtype: int64

13. Fique a vontade para brincar com os dados, qualquer dúvida fale com o seu tutor. Fique à vontade de levar sua tentativa de novos arranjos e dúvidas sobre os exercícios para a monitoria.