0. Importe as bibliotecas necessárias

In [2]:
import pandas as pd
import numpy as np

1. Importe os dados sobre os penguins, que se encontra no link abaixo.

https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv

In [3]:
p = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv')
print(p)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    MALE
1         3800.0  FEMALE
2         3250.0  FEMALE
3            NaN     NaN
4         3450.0  FEMALE
..           ...     ...
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE

[344 rows x 7 columns]

2. Mude o nome de todas as colunas para o inglês

In [4]:
p.columns = ['especie', 'ilha', 'comprimento_bico_mm', 'profundidade_bico_mm', 'comprimento_nadadeira_mm', 'massa_corporal_g', 'sexo']
print(p)

    especie       ilha  comprimento_bico_mm  profundidade_bico_mm  \
0    Adelie  Torgersen                 39.1                  18.7
1    Adelie  Torgersen                 39.5                  17.4
2    Adelie  Torgersen                 40.3                  18.0
3    Adelie  Torgersen                  NaN                   NaN
4    Adelie  Torgersen                 36.7                  19.3
..      ...        ...                  ...                   ...
339  Gentoo     Biscoe                  NaN                   NaN
340  Gentoo     Biscoe                 46.8                  14.3
341  Gentoo     Biscoe                 50.4                  15.7
342  Gentoo     Biscoe                 45.2                  14.8
343  Gentoo     Biscoe                 49.9                  16.1

     comprimento_nadadeira_mm  massa_corporal_g    sexo
0                       181.0            3750.0    MALE
1                       186.0            3800.0  FEMALE
2                       195.0            3250.0  FEMALE
3                         NaN               NaN     NaN
4                       193.0            3450.0  FEMALE
..                        ...               ...     ...
339                       NaN               NaN     NaN
340                     215.0            4850.0  FEMALE
341                     222.0            5750.0    MALE
342                     212.0            5200.0  FEMALE
343                     213.0            5400.0    MALE

[344 rows x 7 columns]

3. Mude os elementos da coluna `sex` ("MALE" e "FEMALE") para português ("MASCULINO" e "FEMININO")

In [5]:
p['sexo'] = p['sexo'].replace(['MALE','FEMALE'], ['MASCULINO','FEMININO'])
display(p['sexo'].head())

0    MASCULINO
1     FEMININO
2     FEMININO
3          NaN
4     FEMININO
Name: sexo, dtype: object

4. Crie uma coluna com o quadrado do peso chamada `quadpeso`

In [6]:
p['quadpeso'] = p['massa_corporal_g']**2
print(p)

    especie       ilha  comprimento_bico_mm  profundidade_bico_mm  \
0    Adelie  Torgersen                 39.1                  18.7
1    Adelie  Torgersen                 39.5                  17.4
2    Adelie  Torgersen                 40.3                  18.0
3    Adelie  Torgersen                  NaN                   NaN
4    Adelie  Torgersen                 36.7                  19.3
..      ...        ...                  ...                   ...
339  Gentoo     Biscoe                  NaN                   NaN
340  Gentoo     Biscoe                 46.8                  14.3
341  Gentoo     Biscoe                 50.4                  15.7
342  Gentoo     Biscoe                 45.2                  14.8
343  Gentoo     Biscoe                 49.9                  16.1

     comprimento_nadadeira_mm  massa_corporal_g       sexo    quadpeso
0                       181.0            3750.0  MASCULINO  14062500.0
1                       186.0            3800.0   FEMININO  14440000.0
2                       195.0            3250.0   FEMININO  10562500.0
3                         NaN               NaN        NaN         NaN
4                       193.0            3450.0   FEMININO  11902500.0
..                        ...               ...        ...         ...
339                       NaN               NaN        NaN         NaN
340                     215.0            4850.0   FEMININO  23522500.0
341                     222.0            5750.0  MASCULINO  33062500.0
342                     212.0            5200.0   FEMININO  27040000.0
343                     213.0            5400.0  MASCULINO  29160000.0

[344 rows x 8 columns]

5. Crie uma coluna chamada `acima_da_media`, que contenha valores booleanos, `True` caso o pinguin esteja com o peso acima da média e `False` caso o pinguin esteja com o peso na média ou abaixo da média.

In [7]:
media = p['massa_corporal_g'].mean()
p['acima_media'] = p['massa_corporal_g'] > media
print(p)

    especie       ilha  comprimento_bico_mm  profundidade_bico_mm  \
0    Adelie  Torgersen                 39.1                  18.7
1    Adelie  Torgersen                 39.5                  17.4
2    Adelie  Torgersen                 40.3                  18.0
3    Adelie  Torgersen                  NaN                   NaN
4    Adelie  Torgersen                 36.7                  19.3
..      ...        ...                  ...                   ...
339  Gentoo     Biscoe                  NaN                   NaN
340  Gentoo     Biscoe                 46.8                  14.3
341  Gentoo     Biscoe                 50.4                  15.7
342  Gentoo     Biscoe                 45.2                  14.8
343  Gentoo     Biscoe                 49.9                  16.1

     comprimento_nadadeira_mm  massa_corporal_g       sexo    quadpeso  \
0                       181.0            3750.0  MASCULINO  14062500.0
1                       186.0            3800.0   FEMININO  14440000.0
2                       195.0            3250.0   FEMININO  10562500.0
3                         NaN               NaN        NaN         NaN
4                       193.0            3450.0   FEMININO  11902500.0
..                        ...               ...        ...         ...
339                       NaN               NaN        NaN         NaN
340                     215.0            4850.0   FEMININO  23522500.0
341                     222.0            5750.0  MASCULINO  33062500.0
342                     212.0            5200.0   FEMININO  27040000.0
343                     213.0            5400.0  MASCULINO  29160000.0

     acima_media
0          False
1          False
2          False
3          False
4          False
..           ...
339        False
340         True
341         True
342         True
343         True

[344 rows x 9 columns]

6. Calcule quantos penguins, por espécie, estão com o peso acima da **média**

In [8]:
print(p.groupby('especie')['acima_media'].sum())

especie
Adelie        25
Chinstrap      7
Gentoo       117
Name: acima_media, dtype: int64

7. Calcule a média e o desvio-padrão dos pinguins, por sexo e por ilha. Depois, jogue fora as linhas que são NaN

In [9]:
print(p.groupby(['sexo', 'ilha'])['massa_corporal_g'].agg('mean', 'std'))
print(p.dropna())

sexo       ilha
FEMININO   Biscoe       4319.375000
           Dream        3446.311475
           Torgersen    3395.833333
MASCULINO  Biscoe       5104.518072
           Dream        3987.096774
           Torgersen    4034.782609
Name: massa_corporal_g, dtype: float64
    especie       ilha  comprimento_bico_mm  profundidade_bico_mm  \
0    Adelie  Torgersen                 39.1                  18.7
1    Adelie  Torgersen                 39.5                  17.4
2    Adelie  Torgersen                 40.3                  18.0
4    Adelie  Torgersen                 36.7                  19.3
5    Adelie  Torgersen                 39.3                  20.6
..      ...        ...                  ...                   ...
338  Gentoo     Biscoe                 47.2                  13.7
340  Gentoo     Biscoe                 46.8                  14.3
341  Gentoo     Biscoe                 50.4                  15.7
342  Gentoo     Biscoe                 45.2                  14.8
343  Gentoo     Biscoe                 49.9                  16.1

     comprimento_nadadeira_mm  massa_corporal_g       sexo    quadpeso  \
0                       181.0            3750.0  MASCULINO  14062500.0
1                       186.0            3800.0   FEMININO  14440000.0
2                       195.0            3250.0   FEMININO  10562500.0
4                       193.0            3450.0   FEMININO  11902500.0
5                       190.0            3650.0  MASCULINO  13322500.0
..                        ...               ...        ...         ...
338                     214.0            4925.0   FEMININO  24255625.0
340                     215.0            4850.0   FEMININO  23522500.0
341                     222.0            5750.0  MASCULINO  33062500.0
342                     212.0            5200.0   FEMININO  27040000.0
343                     213.0            5400.0  MASCULINO  29160000.0

     acima_media
0          False
1          False
2          False
4          False
5          False
..           ...
338         True
340         True
341         True
342         True
343         True

[333 rows x 9 columns]

8. Encontre os pinguins que estão acima de dois desvio-padrão do peso médio.

obs: você precisará filtrar os pinguins que estejam acima de `2 * desvio_padrão + peso_médio`

In [10]:
desvio_padrao = p['massa_corporal_g'].std()
peso_medio = p['massa_corporal_g'].mean()

p[p['massa_corporal_g'] > 2*desvio_padrao + peso_medio]

,especie,ilha,comprimento_bico_mm,profundidade_bico_mm,comprimento_nadadeira_mm,massa_corporal_g,sexo,quadpeso,acima_media
233,Gentoo,Biscoe,48.4,14.6,213.0,5850.0,MASCULINO,34222500.0,True
235,Gentoo,Biscoe,49.3,15.7,217.0,5850.0,MASCULINO,34222500.0,True
237,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,MASCULINO,39690000.0,True
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,MASCULINO,36602500.0,True
297,Gentoo,Biscoe,51.1,16.3,220.0,6000.0,MASCULINO,36000000.0,True
299,Gentoo,Biscoe,45.2,16.4,223.0,5950.0,MASCULINO,35402500.0,True
331,Gentoo,Biscoe,49.8,15.9,229.0,5950.0,MASCULINO,35402500.0,True
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,MASCULINO,34222500.0,True
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,MASCULINO,36000000.0,True

9. Para cada grupo de ilha e espécie, encontre o tamanho de bico mediano e a quantidade de penguins

In [11]:
p.groupby(['ilha', 'especie'])['comprimento_bico_mm'].agg([np.median, len])

                     median  len
ilha      especie
Biscoe    Adelie      38.70   44
          Gentoo      47.30  124
Dream     Adelie      38.55   56
          Chinstrap   49.55   68
Torgersen Adelie      38.90   52

10. Importe os CSVs abaixo para variáveis:

`flights.csv`, `airports.csv`, `planes.csv` e `airlines`

In [12]:
flights = pd.read_csv('flights.csv')
airports = pd.read_csv('airports.csv')
planes = pd.read_csv('planes.csv')
airlines = pd.read_csv('airlines.csv')

11. Faça um `left_join` de flights e planes. Depois, faça a média de atraso (`arr_delay`) por `manufacturer`. Tente arranjar os dados para descobrirmos quais são os que mais atrasam *na média*

In [12]:
left_join = pd.merge(flights, planes, how = "left")
print(left_join.groupby('manufacturer')['arr_delay'].mean())

manufacturer
AIRBUS               0.123563
AIRBUS INDUSTRIE    20.750000
BOEING               1.531208
BOMBARDIER INC      13.584352
EMBRAER              6.169118
Name: arr_delay, dtype: float64

12. Com os dados juntados anteriormente, junte também o dataframe de `airlines`, de acordo com as colunas em comum. Depois, descubra a quantidade de linhas por `origin` e `airlines`

In [15]:
left_join_airlines = pd.merge(left_join, airlines, on = 'carrier', how = 'left')
print(left_join_airlines.groupby(['origin', 'name'])['flight'].count())

origin  name
EWR     Alaska Airlines Inc.             714
        American Airlines Inc.          3487
        Delta Air Lines Inc.            4342
        Endeavor Air Inc.               1268
        Envoy Air                       2276
        ExpressJet Airlines Inc.       43939
        JetBlue Airways                 6557
        SkyWest Airlines Inc.              6
        Southwest Airlines Co.          6188
        US Airways Inc.                 4405
        United Air Lines Inc.          46087
        Virgin America                  1566
JFK     American Airlines Inc.         13783
        Delta Air Lines Inc.           20701
        Endeavor Air Inc.              14651
        Envoy Air                       7193
        ExpressJet Airlines Inc.        1408
        Hawaiian Airlines Inc.           342
        JetBlue Airways                42076
        US Airways Inc.                 2995
        United Air Lines Inc.           4534
        Virgin America                  3596
LGA     AirTran Airways Corporation     3260
        American Airlines Inc.         15459
        Delta Air Lines Inc.           23067
        Endeavor Air Inc.               2541
        Envoy Air                      16928
        ExpressJet Airlines Inc.        8826
        Frontier Airlines Inc.           685
        JetBlue Airways                 6002
        Mesa Airlines Inc.               601
        SkyWest Airlines Inc.             26
        Southwest Airlines Co.          6087
        US Airways Inc.                13136
        United Air Lines Inc.           8044
Name: flight, dtype: int64

13. Fique a vontade para brincar com os dados, qualquer dúvida fale com o seu tutor. Fique à vontade de levar sua tentativa de novos arranjos e dúvidas sobre os exercícios para a monitoria.